---
import desktopIcon from '@assets/components/browsercompat/icon-desktop.svg'
import phoneIcon from '@assets/components/browsercompat/icon-phone.svg'
import checkIcon from '@assets/components/browsercompat/icon-check.svg'
import cancelIcon from '@assets/components/browsercompat/icon-cancel.svg'
import extensionIcon from '@assets/components/browsercompat/icon-extension.svg'

const { json } = Astro.props

const compatData = json.api
---

<div class="browserCompat">
  <table>
    <thead>
      <tr class="platforms">
        <td></td>
        <th class="desktop" colspan="6" title="desktop">
          <img
            src={desktopIcon.src}
            width={desktopIcon.width}
            height={desktopIcon.height}
            alt=""
          />
          <span class="visually-hidden">desktop</span>
        </th>
        <th class="mobile" colspan="7" title="mobile">
          <img
            src={phoneIcon.src}
            alt=""
            width={phoneIcon.width}
            height={phoneIcon.height}
          />
          <span class="visually-hidden">mobile</span>
        </th>
      </tr>
      <tr class="browsers">
        <td></td>
        <th class="browser browserChrome">
          <div class="browserLabel">Chrome</div>
        </th>
        <th class="browser browserEdge">
          <div class="browserLabel">Edge</div>
        </th>
        <th class="browser browserFirefox">
          <div class="browserLabel">Firefox</div>
        </th>
        <th class="browser browserIe">
          <div class="browserLabel">Internet Explorer</div>
        </th>
        <th class="browser browserOpera">
          <div class="browserLabel">Opera</div>
        </th>
        <th class="browser browserSafari">
          <div class="browserLabel">Safari</div>
        </th>
        <th class="browser browserWebview">
          <div class="browserLabel">WebView Android</div>
        </th>
        <th class="browser browserChrome">
          <div class="browserLabel">Chrome Android</div>
        </th>
        <th class="browser browserFirefox">
          <div class="browserLabel">Firefox for Android</div>
        </th>
        <th class="browser browserOpera">
          <div class="browserLabel">Opera Android</div>
        </th>
        <th class="browser browserSafari">
          <div class="browserLabel">Safari on iOS</div>
        </th>
        <th class="browser browserSamsung">
          <div class="browserLabel">Samsung Internet</div>
        </th>
        <th class="browser browserPuma">
          <div class="browserLabel">Puma Browser</div>
        </th>
      </tr>
    </thead>
    <tbody>
      {
        Object.keys(compatData).map((key) => (
          <tr>
            <th class="feature" scope="row">
              <div>
                <code>{key}</code>
              </div>
            </th>
            {Object.keys(compatData[key].__compat.support).map(
              (platform) =>
                platform !== 'status' && (
                  <td>
                    {compatData[key].__compat.support[platform]
                      .version_added && (
                      <img
                        src={checkIcon.src}
                        alt=""
                        class="iconGreen"
                        width={checkIcon.width}
                        height={checkIcon.height}
                      />
                    )}
                    {!compatData[key].__compat.support[platform]
                      .version_added && (
                      <img
                        src={cancelIcon.src}
                        alt=""
                        class="iconRed"
                        width={cancelIcon.width}
                        height={cancelIcon.height}
                      />
                    )}
                    <span>
                      {compatData[key].__compat.support[platform]
                        .version_added === true && 'Yes'}
                      {compatData[key].__compat.support[platform]
                        .version_added === false && 'No'}
                      {compatData[key].__compat.support[platform]
                        .version_added !== false &&
                        compatData[key].__compat.support[platform]
                          .version_added !== true &&
                        compatData[key].__compat.support[platform]
                          .version_added}
                    </span>
                    {compatData[key].__compat.support[platform].notes && (
                      <img
                        src={extensionIcon.src}
                        alt=""
                        class="iconGreen"
                        width={extensionIcon.width}
                        height={extensionIcon.height}
                      />
                    )}
                  </td>
                )
            )}
          </tr>
        ))
      }
    </tbody>
  </table>
</div>

<dl class="legend">
  <div class="legendItem">
    <dt>
      <img
        src={checkIcon.src}
        alt=""
        class="iconGreen"
        width={checkIcon.width}
        height={checkIcon.height}
      />
    </dt>
    <dd>Full Support</dd>
  </div>
  <div class="legendItem">
    <dt>
      <img
        src={cancelIcon.src}
        alt=""
        class="iconRed"
        width={cancelIcon.width}
        height={cancelIcon.height}
      />
    </dt>
    <dd>No Support</dd>
  </div>
  <div class="legendItem">
    <dt>
      <img
        src={extensionIcon.src}
        alt=""
        class="iconGreen"
        width={extensionIcon.width}
        height={extensionIcon.height}
      />
    </dt>
    <dd>You'll need to use a Web Monetization Extension</dd>
  </div>
</dl>

<style>
  .browserCompat {
    border-radius: var(--moderate-rounding);
    box-shadow: var(--sl-shadow-sm);
    overflow-x: auto;
  }

  table {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 0;
    width: 100%;
  }

  th {
    background: inherit;
    padding: 0.25rem 0.75rem;
    width: 2rem;
    text-align: center;
    vertical-align: bottom;
  }

  th,
  td {
    border: 1px solid var(--sl-color-hairline-light);
    font-size: 0.75rem;
  }

  th code {
    white-space: nowrap;
  }

  tbody th {
    vertical-align: middle;
  }

  tbody td {
    text-align: center;
    padding: 0.25rem 0;
    vertical-align: top;
  }

  tbody td img {
    margin-inline: auto;
  }

  .platforms {
    height: 2em;
  }

  .platforms th {
    vertical-align: revert;
  }

  .platforms th img {
    margin-inline: auto;
  }

  .browserLabel {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    white-space: nowrap;
    line-height: 1;
    position: relative;
    padding-block-start: 0.5rem;
    margin-inline-start: 2px;
  }

  .browser::after {
    height: 1.25em;
    width: 1.25em;
    display: block;
  }

  .browserChrome::after {
    content: url(../../assets/components/browsercompat/browser-chrome.svg);
  }

  .browserEdge::after {
    content: url(../../assets/components/browsercompat/browser-edge.svg);
  }

  .browserFirefox::after {
    content: url(../../assets/components/browsercompat/browser-firefox.svg);
  }

  .browserIe::after {
    content: url(../../assets/components/browsercompat/browser-ie.svg);
  }

  .browserOpera::after {
    content: url(../../assets/components/browsercompat/browser-opera.svg);
  }

  .browserPuma::after {
    content: url(../../assets/components/browsercompat/browser-puma.svg);
  }

  .browserSafari::after {
    content: url(../../assets/components/browsercompat/browser-safari.svg);
  }

  .browserSamsung::after {
    content: url(../../assets/components/browsercompat/browser-samsung.svg);
  }

  .browserWebview::after {
    content: url(../../assets/components/browsercompat/browser-webview.svg);
  }

  .feature div {
    align-items: baseline;
    display: inline-flex;
    width: 100%;
  }

  .legend {
    display: flex;
    flex-wrap: wrap;
  }

  .legendItem {
    align-items: center;
    display: flex;
    font-size: 0.75rem;
    margin-block-start: 0;
    margin-inline-end: var(--space-s);
  }

  .legendItem dd {
    padding-inline-start: var(--spacing-2xs);
  }

  .legendItem.legendItem.legendItem,
  .legendItem.legendItem.legendItem dd {
    margin-block-start: 0;
  }

  .iconGreen {
    filter: invert(20%) sepia(98%) saturate(2364%) hue-rotate(143deg)
      brightness(92%) contrast(102%);
  }

  .iconRed {
    filter: invert(6%) sepia(98%) saturate(7375%) hue-rotate(340deg)
      brightness(120%) contrast(100%);
  }
</style>
