---
interface CTA {
  text: string
  href: string
  event: string
}

interface Image {
  src: string
  width: number
  height: number
  position: 'left' | 'right'
}

interface Props {
  content: {
    image: Image
    title: string
    primaryCta: CTA
    secondaryCta?: CTA
  }
}
const { content } = Astro.props
---

<section class='section'>
  <div class='contentWrapper'>
    <div
      class={content.image.position === 'right'
        ? 'layout right'
        : 'layout left'}
    >
      <div class='header'>
        <h2>{content.title}</h2>
      </div>
      <div class='image'>
        <img src={content.image.src} aria-hidden='true' />
      </div>
      <div class='text'>
        <slot />
        <div class='ctas'>
          <a
            href={content.primaryCta.href}
            class='btn primary flexible'
            data-umami-event={content.primaryCta.event}
            >{content.primaryCta.text}</a
          >
          {
            content.secondaryCta && (
              <a
                href={content.secondaryCta.href}
                class='btn secondary flexible'
                data-umami-event={content.secondaryCta.event}
              >
                {content.secondaryCta.text}
              </a>
            )
          }
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .layout {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    align-items: center;
    padding: var(--padding-md);
  }

  .header {
    text-align: center;
  }

  .image {
    justify-content: center;
    display: flex;
    width: 100%;
    max-width: 20rem;
  }

  .image img {
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  .text {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2xl);
  }

  .ctas {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2xl);
  }

  @media screen and (min-width: 768px) {
    .layout {
      display: grid;
      column-gap: var(--spacing-3xl);
    }
    
    .layout.right {
      grid-template-columns: 2fr 1fr;
    }

    .layout.right .header {
      grid-column: 1;
    }

    .layout.right .text {
      grid-column: 1;
    }

    .layout.right .image {
      grid-column: 2;
    }

    .layout.left {
      grid-template-columns: 1fr 2fr;
    }

    .layout.left .header {
      grid-column: 2;
    }

    .layout.left .text {
      grid-column: 2;
    }

    .layout.left .image {
      grid-column: 1;
    }

    .image {
      max-width: 100%;
      grid-row: 1 / span 2;
    }

    .header {
      text-align: left;
      grid-row: 1;
    }

    .text {
      flex: 1 1 100%;
      grid-row: 2;
    }

    .ctas {
      flex-direction: row;
      text-align: center;
      max-width: max-content;
    }
  }
</style>
