---
interface Props {
  updates: Array< {
  image: string, 
  title: string, 
  author: string, 
  tag: string, 
  date: string, 
  paragraphs: string[], 
  link: string
  }>
}

const { updates } = Astro.props;
---
{
  updates.map( update => (
    <div class="update">
      <div class="update-img">
        <img
        src={`/img/${update.image}`}
        alt={`Illustration for the article: "${update.title}"`}
        width="580"
        height="315"
        />
      </div>
      <div class="update-content">
        <h3 class="font-h4 update-title">{update.title}</h3>
        <p class="bold update-subtitles">
          <span>{update.tag}</span>
          <span class="dot"></span>
          <span>{update.date}</span>
          <span class="dot"></span>
          <span>{update.author}</span>
        </p>
        <div class="update-paragraphs">
          {update.paragraphs.map( p => 
            <p>{p}</p>
          )}
        </div>
        <a
          href={update.link}
          class="btn secondary flexible"
          data-umami-event={`UpdatesList - ${update.title}`}
          target="_blank" rel="noreferrer noopener"
        >
          Read the full article
        </a>
      </div>
    </div>
  ))
}

<style>
  .update {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-md);
  }
  
  .update-img {
    flex-basis: 50%;     
    min-width: 17rem;
  }

  .update-img img  {
    height: auto;
    object-fit: cover;
    aspect-ratio: 580/315;
  }

  .update-content {
    flex-basis: 50%;
    display: flex;
    flex-direction: column; 
    align-items: start;
    gap: var(--spacing-md);
  }

  .update-subtitles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--spacing-sm);
  }

  .update-subtitles .dot {
    display: inline-block;
    width: var(--spacing-xs); 
    height: var(--spacing-xs);
    background-color: var(--default-font-color);
    border-radius: 50%;
  }

  @media screen and (max-width: 767px) {
    .update-title {
      font: var(--font-h5);
    }    

    .update {
      flex-direction: column;
    }

    .update-content {
      align-items: stretch;
    }

    .update-img {
      padding-block: 0;
      min-width: unset;
    }
  }
</style>