---
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import Base from "../layouts/Base.astro";
import data from "../data/home.json";
import contributors from "../data/contributors.json";
import CardList from "../components/pages/CardList.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const pluginsList = data.plugins.filter(function(plugin){
  return plugin.version.includes("2.0");
});
---
<Base title={t('site.title')} description={t('site.description')}>
  <section class="section hero">
    <div class="contentWrapperSm">
      <div class="heading-wrapper">
        <h1 class="heading2">
          Welcome to Web Monetization
        </h1>
        <img
          alt=""
          role="presentation"
          class="heroUnderline"
          src="/img/wm-heading-vector.svg"
        />
      </div>
      <div class="heroContent">
        <img
          alt="Web Monetization ..."
          class="heroImg"
          src="/img/hero-animation.svg"
        />
        <p class="heroTagline">
          We seek to empower content owners and users alike by enabling seamless micropayments, fostering a fair and sustainable digital economy, and working on top of traditional advertising and subscription-based revenue models.
        </p>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="contentWrapperLg twoColGrid">
      <div class="gridItem">
        <h2 class="heading3">Motivation</h2>
        <p>
          The ability to transfer money has been a long-standing omission
          from the web platform. As a result, the web suffers from a flood
          of advertising and broken business models. Web Monetization
          provides an open, native, efficient, and automatic way to
          compensate creators, pay for content, and support crucial web
          infrastructure.
        </p>
      </div>
      <div class="gridItem">
        <h2 class="heading3">Why Now?</h2>
        <p>
          Until recently, there hasn't been an open, neutral, and cost-efficient protocol for transferring money. <a href="https://interledger.org/" data-umami-event="Landing page - ILP docs">Interledger</a> <a href="https://openpayments.dev/" data-umami-event="Landing page - Open Payments docs">Open Payments</a> provides a simple, interoperable, and currency-independent method for the transfer of small amounts of money. This opens up the possibility for streaming money, which makes the Web Monetization use case possible for the first time.
        </p>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="contentWrapperLg">
      {data.wallets.length > 0 && (
        <div class="gridItem">
          <div class="sectionHeader">
            <h2 class="heading3">Web Monetization Wallets</h2>
            <p>
              These providers offer Open Payments-enabled <a href="/wallets/">wallets</a> that you can use to become Web Monetized:
            </p>
          </div>
          <div class="cards">
            <CardList cards={data.wallets} />
          </div>
        </div>
      )}
      {data.search.length > 0 && (
        <div class="gridItem">
          <div class="sectionHeader">
            <h2 class="heading3">
              Web Monetization Enabled Search Engines
            </h2>
            <p>These search engines implement Web Monetization features:</p>
          </div>
          <div class="cards">
            <CardList cards={data.search} />
          </div>
        </div>
      )}
    </div>
  </section>
  {data.providers.length > 0 && (
    <section class="section">
      <div class="contentWrapperLg">
        <div class="sectionHeader">
          <h2 class="heading3">Web Monetization Providers</h2>
          <p>These providers offer Web Monetization services:</p>
        </div>
        <div class="cards">
          <CardList cards={data.providers} />
        </div>
      </div>
    </section>
  )}
  {data.browsers.length > 0 && (
    <section class="section">
      <div class="contentWrapperLg">
        <div class="sectionHeader">
          <h2 class="heading3">
            Web Monetization Supported Browsers
          </h2>
          <p>
            These browsers implement Web Monetization natively or via an
            extension:
          </p>
        </div>
        <div class="cards">
          <CardList cards={data.browsers} />
        </div>
      </div>
    </section>
  )}
  {data.plugins.length > 0 && (
    <section class="section">
      <div class="contentWrapperLg">
        <div class="sectionHeader">
          <h2 class="heading3">Web Monetization Libraries/Plugins</h2>
          <p>There have been a number of libraries and plugins developed over the years to enable Web Monetization features on your website, but a lot of them need updating to conform to the latest specification. If you would like to help out this effort, please check out the <a href="/developers/libraries" data-umami-event="Landing page - WebMo libraries">full list</a>. These plugins have already been updated:</p>
        </div>
        <div class="cards">
          <CardList cards={pluginsList} />
        </div>
      </div>
    </section>
  )}
  <section class="section">
    <div class="contentWrapperLg">
      <div class="sectionHeader">
        <h2 class="heading3">Tools</h2>
      </div>
      <div class="threeColGrid toolsList">
        <a class="gridItem" href="/play" data-umami-event="Landing page - Playground">
          <h3 class="heading4">Web Monetization Playground</h3>
          <p>Explore how Web Monetization works</p>
        </a>

        <a class="gridItem" href="/tools/link-tag" data-umami-event="Landing page - Link tag">
          <h3 class="heading4">Link Tag Generator</h3>
          <p>Generate a Web Monetization link tag for your site</p>
        </a>

        <a class="gridItem" href="/tools/prob-revshare" data-umami-event="Landing page - Prob rev share">
          <h3 class="heading4">Probabilistic RevShare Generator</h3>
          <p>Split Web Monetization revenue between wallet addresses</p>
        </a>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="contentWrapperLg">
      <div class="sectionHeader">
        <h2 class="heading3">Contributors</h2>
        <p>Thank you to all our contributors.</p>
      </div>
      {contributors.length > 0 && (
        <ul class="contributors">
          {contributors.map((contributor) => (
            <li class="contributor">
              <a href={contributor.html_url}>
                <img alt={contributor.login} src={contributor.avatar_url} />
              </a>
            </li>
          ))}
        </ul>
      )}
    </div>
  </section>
</Base>

<style>
/* Hero section styles */
section.hero {
  background-image: url("/img/hero-gradient-background.svg");
  background-color: var(--background-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  min-height: calc(100vh - 2.75rem - 2 * var(--spacing-xs));
  padding-block-start: 10rem;
  display: flex;
  flex-direction: column;
}

.hero .contentWrapperSm {
  height: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.heroImg {
  max-height: 50vh;
  max-width: 80vw;
  width: auto;
  flex-shrink: 1;     /* allow shrinking if needed */
  object-fit: contain;
  margin-bottom: var(--spacing-lg);
}

.heading-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; /* center horizontally */
  margin-bottom: var(--spacing-lg);
}

.heading-wrapper h1 {
  margin: 0;
}

.heading-wrapper .heroUnderline {
  max-width: 20rem;
}

.heroTagline {
  font: var(--font-h5);
  line-height: 2rem; /* line hight can't match font-size */
  font-weight: var(--font-weight-normal);
  margin-bottom: var(--spacing-lg);
}

.heading-wrapper img {
  width: 80%;           /* less than heading width */
  max-width: 500px;     /* optional: cap the max width */
  margin-top: 0.5rem;   /* space between text and underline */
  height: auto;         /* preserve aspect ratio */
}

.heroContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-grow: 0.5;
}

.heroIcon {
  width: 120px;
  margin-block-end: var(--space-s);
  margin-inline: auto;
}

/* Card wrapper styles */
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-s);
  margin-block-end: var(--space-s);
  justify-content: center;
}

/* Tools list styles */
.toolsList {
  justify-content: center;
}

.toolsList a {
  text-align: center;
  cursor: pointer;
}
/* Contributor section styles */
.contributors {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--space-xs);
  padding: 0;
}

.contributor {
  flex: 0 0 3em;
}

.contributor img {
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  section.hero {
    min-height: unset;
  }

  .heading-wrapper .heroUnderline {
  max-width: 18rem;
}

.heroContent {
  flex-direction: column-reverse;
}
}
</style>
