---
import i18next, { t, changeLanguage } from "i18next";
import TopNav from "../components/pages/TopNav.astro";
import Footer from "../components/pages/Footer.astro";
import '/node_modules/@interledger/docs-design-system/src/styles/teal-theme.css';
import '../styles/webm.css';

interface Props {
	title: string;
	description: string;
	image?: string;
  hasFooter?: boolean;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const { title = t("site.title"), description = t("site.description"), image = '/img/wm-social.png', hasFooter = true } = Astro.props;
changeLanguage("en");
---
<html lang={i18next.language} data-theme="light">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />

  <link rel="canonical" href={canonicalURL} />

  <title>{title}</title>
  <meta name="title" content={title} />
  <meta name="description" content={description} />

  <script defer src="https://ilf-site-analytics.netlify.app/script.js" data-website-id="3b8cb97a-2a94-43c2-85e7-277c92c9cf48" data-domains: "webmonetization.org"></script>

  <meta property="og:type" content="website" />
  <meta property="og:url" content={Astro.url} />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:image" content={new URL(image, Astro.url)} />

  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content={Astro.url} />
  <meta property="twitter:title" content={title} />
  <meta property="twitter:description" content={description} />
  <meta property="twitter:image" content={new URL(image, Astro.url)} />

  <body>
    <TopNav />

    <main>
      <slot /> 
    </main>
  
    {hasFooter ? <Footer /> : ''}
  </body>
  
</html>
